<script type='text/x-handlebars-template' id='login_structure'>
    <div class='container'>
        <hr>
        <div class='row'>
            <div class='col-xs-12'>
                <button class='btn btn-default btn-lg' style='width: 100%; background-color: #3b5998; color: #fff;'>
                    <i class='fa fa-facebook-square'></i> Login with Facebook
                </button>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class='col-xs-12'>
                <button class='btn btn-default btn-lg' style='width: 100%; background-color: #d34836; color: #fff;'>
                    <i class='fa fa-google-plus-square'></i> Login with Google
                </button>
            </div>
        </div>
    </div>
</script>

<script type='text/x-handlebars-template' id='event_structure'>
    <div class='bg-primary item-box'>
        <div class='row'>
            <div class='col-xs-8'>
                <div>
                    Sabato sera a Testaccio
                </div>
            </div>
            <div class='col-xs-2'>
                <div class='pull-right'>
                    3 items
                </div>
            </div>
            <div class='col-xs-2'>
                <div class='pull-right'>
                    784,52 &euro;
                </div>
            </div>
        </div>
    </div>
</script>

<script type='text/x-handlebars-template' id='activity_structure'>
    <div class='bg-primary item-box'>
        <div class='row'>
            <div class='col-xs-1'>
                <div class='row'>
                    <div class='col-xs-12'>
                        <img src='images/avatar-0.jpg' class='img-responsive img-thumbnail item-pictures'>
                    </div>
                </div>
            </div>
            <div class='col-xs-8'>
                <div class='row'>
                    <div class='col-xs-8'>
                        <div class='row'>
                            <div class='col-xs-12'>
                                <h4>
                                    Cocktail all'Oasi della Birra
                                </h4>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-xs-12'>
                                <i class='fa fa-map-marker'></i>
                                Piazza Testaccio 1, Rome, Italy
                            </div>
                        </div>
                    </div>
                    <div class='col-xs-2'>
                        <div class='row'>
                            <div class='col-xs-12'>
                                <h4>
                                    3 X
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class='col-xs-2'>
                        <div class='row'>
                            <div class='col-xs-12'>
                                <h4>
                                    24,00 &euro;
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-xs-3'>
                <div class='row'>
                    <div class='col-xs-12'>
                        <div>
                            <img src='images/avatar-3.jpg' class='avatar img-responsive img-circle'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>